.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.main__titles {
  margin: 2em;
}

.main__titles > h1 {
  margin-bottom: 0.3em;
  transition: 0.5s;
}

@media only screen and (min-width: 1025px) {
  .main__titles > h1:hover {
    color: transparent;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 2px #08195f;
    margin-bottom: 0.4em;
  }
}

.main__titles > h4 {
  color: #43454d;
  font-weight: 500;
}

.main__linksto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
}

.projects h1 {
  font-size: 3em;
  margin: 1.2em 0;
}

.projects__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}