.social {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 2%;
  bottom: 4%;
}

.social > a > img {
  margin: 0 0.4em;
  padding: 1px;
  border-radius: 30px;
  background-color: white;
}